[flake8]
# Ignore
# E203: whitespace before `,` `;` or `:`
# E266: too many leading # for block comment
# E501: line too long
# E701: Multiple statements on one line (colon)
# W503: line break after binary operator
ignore = E203, E266, E501, E701, E704, W503
max-complexity = 18
