.DS_Store
contrib*.yml
pack*.yml
*.pickle
all_contribs.pickle
all_contribs_dict.pickle
.env
.vscode/
.idea/
.token
__pycache__
.coverage
coverage.xml


# Distribution / packaging
.Python
build/
dist/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

token.txt
src/pyosmeta/_version.py

# local files
all-submissions.csv
issue-stats.ipynb
plot.py
presubmissions.csv
reviews_all.csv
reviews_presubmissions.csv
src/pyosmeta/cli/test.ipynb
