.DS_Store
contrib*.yml
pack*.yml
*.pickle
all_contribs.pickle
all_contribs_dict.pickle
.env
.vscode/
.idea/
.token
__pycache__


# Distribution / packaging
.Python
build/
dist/
sdist/
MANIFEST


# pyenv
.python-version


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/



# mypy
.mypy_cache/
.dmypy.json
dmypy.json

token.txt
src/test-model.py
src/pyosmeta/_version_generated.py
.pdm-build/*
