[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[project]
name = "pyosmeta"
version = "0.1.0"
description = "Tools for contributors"
authors = [
    {name = "Leah Wasser", email = "leah@pyopensci.org"},
]
dependencies = [
    "ruamel-yaml>=0.17.21",
    "requests",
    "python-dotenv",
]
requires-python = ">=3.10"
readme = "README.md"
license = {text = "MIT"}

[project.scripts]
parse-contributors = "pyosmeta.cli.parse_contributors:main"
parse-review-issues = "pyosmeta.cli.parse_review_issues:main"
update-reviewers = "pyosmeta.cli.update_reviewers:main"

[tool.pdm]
